body {
    background: black;
    min-width: 600px;
    background-image:url(../imagens/.png);
    background-repeat: no-repeat;
    background-size: 100%;
   
    
}

header{
    text-align: center;
color: rgb(255, 255, 255);}

section {
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(219, 219, 219);
    z-index: 2;
    
}

footer{
    text-align: center;
    color: white;
    margin-top: 10px;
}

input .number {
    width: 300px;
}

#setab{
    text-align: center;
}
