body {
    background: black;
    min-width: 600px;

}

header{
    text-align: center;
color: #9dff00;}

section {
    background:white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #9dff00;
    z-index: 2;
    
    
}

footer{
    text-align: center;
    color: #9dff00;
    margin-top: 10px;
   
}

input .number {
    width: 300px;
}

#setab{
    margin-left: 150px;
}

#resultado {
    padding: 10px;
    width: 800px 800px;
    
}